@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sora:wght@100..800&display=swap');
@import "tailwindcss";


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Sora', 'Lato', 'Finlandica';

}
.animate-wiggles {
  animation: wiggle 1s ease-in-out infinite;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
}

@theme {
    --animate-wiggle: wiggle 1s ease-in-out infinite;

    @keyframes identifier {
        0%,
        100% {
            transform: rotate(-15deg);
        }
        50% {
            transform: rotate(15deg);
        }
        
    }
}
